<a href="https://colab.research.google.com/github/sajid-the-data-guy/python/blob/main/day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#data types


#string
print("hello"[2]);

print("123" + "123")

#integer
print(123 + 123)

#float
#any number with point is known as float
3.14159

#boolean
True                   
False

l
123123
246
3.2

In [ ]:
street_name = "Abbey Road"
print(street_name[4] + street_name[7])

yo

In [ ]:
num_char = len(input("what is your name"))

print("your name as" + num_char + "character")

what is your namesajid

TypeError: ignored

In [ ]:
new_num_char = str(num_char)
print(new_num_char)

5

In [ ]:
#type checking by using type check function
type(num_char)

int

In [ ]:
#converting data type into a string
str(num_char)
print(num_char)

5

In [ ]:
a = 1123
b = "sajid"
c = 21.23
d = False 
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
print(str(123)+ str(212))

123212

In [ ]:
#day 2 task to add two digit number from the input
two_digit_num = input("enter a two digit number: ")
type(two_digit_num)

output= int(two_digit_num[0])+int(two_digit_num[1])
print(output)

enter a two digit number: 31
4

In [ ]:
#mathematical operation
3 + 1
7 - 4
3*2
#while diving operation we will get output in float
6/2
# 2 power 3
print(2**3) # 2 x 2 x 2 meaning of power

8

In [ ]:
#pemdas fullform
#parentheses ()
#exponents **
#multiplication *
#division /
#addition +
#subtraction -
print(3 * 3 + 3 / 3 - 3)
print(3 * (3 + 3) / 3 - 3)

7.0

In [ ]:
#calculating the body mass index
#bmi = weight (kg)/height**2(m**2)

height = input("enter your height in m: ")
weight = input("enter your weight in kg: ")

bmi = int(weight) / float(height)**2   
print(bmi)

bmi_as_int = int(bmi)
print(bmi_as_int)

enter your height in m: 1.8
enter your weight in kg: 64
19.753086419753085
19

In [24]:
result = round(2.3333222 ,1)
print(type(result))

score = 90

score += 1
print(score)

height = 1.8
iswinning = True
# f-string
print(f"our score is {score}")
print(f"score is {score},your height is {height},you are winning is {iswinning}")

<class 'float'>
91
our score is 91
score is 91,your height is 1.8,you are winning is True

In [31]:
#your life in weeks

age_in_int = int(input("what is your age: "))


# lets consider max age limit is 90
years_remaining = 90 - age_in_int
days_remaining = years_remaining * 365
weeks_remaining =  years_remaining * 52
months_remaining = years_remaining * 12
message = (f"your  remaining years is {years_remaining},days is {days_remaining},weeks is {weeks_remaining},months is {months_remaining}")
print(message)

what is your age: 22
your  remaining years is 68,days is 24820,weeks is 3536,months is 816

In [41]:
#tip& share per person
print("welcome to the tip & share per person calc. ")
total_bill = int(input("what is your total bill $"))
tip = int(input("what percentage tip would you like to give? 10,12, or 15? $"))
split_bill = int(input("how many people to split the bill? "))

amount = (total_bill / split_bill)
amount += tip
#format is used to get decimal number .00
amount = "{:.2f}".format(amount)
print(amount)

welcome to the tip & share per person calc.
what is your total bill 100
what percentage tip would you like to give? 10,12, or 15?10
how many people to split the bill? 3
43.33